
body
{
    font-family: 'Sofia Sans',sans-serif !important;
    color: #ffffff;
    background: #111111;
    margin: 1vh;
}

a 
{
    color:#ffffff;
}

#content 
{
    display: flex;
    flex-direction: row;
    height: 98vh;
    margin: 0;
}

.half 
{
    flex: 1;
    overflow: auto;
    margin: 1vh;
    padding: 1vh;
    background-color: #010105;
}

h1 
{
    padding: .2em .5em;
    margin: .2em;
}

h2 
{
    background-color:rgb(9, 9, 41);
    padding: .2em .5em;
}

h3
{
    background-color:rgb(9, 9, 26);
    padding: .1em .25em;
}

h4
{
    background-color:rgb(41, 9, 9);
    margin: 1em 0 .5em ;
}

h5
{
    background-color:rgb(26, 9, 9);
    margin: .5em 0;
}

.characterSkill
{
    margin-left:2em;
}
.characterSkill h3
{
    margin-left:-1em;
}
.characterSkill table
{
    width:100%;
}
.characterSkill td:nth-child(1)
{
    text-align: center;
    width:5%;
}
.characterSkill td:nth-child(2)
{
    width:35%;
}
.characterSkill td:nth-child(3)
{
    width:60%;
}

.section-opener
{
    cursor: pointer;
}
.section-content 
{
    display: none;
}

.source-opener
{
    cursor: pointer;
}
.source-content
{
    display: none;
}

.explanation
{
    padding-left:1em;
}
.modifier
{
    margin-top:1em;
}
.event
{
    margin-top:.5em;
    color:cornflowerblue;
}
.code
{
    color: #aaaaaa;
}
.minor
{
    opacity:.3;
}
.missing
{
    color: hsla(43, 89%, 38%, 0.5);
}

a[href^="#"] 
{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
